<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link href="/css/products/styles-productNew.css" rel="stylesheet">
    <title>Crear Producto</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h3>Crear Producto</h3>
        <form action="/productos" method="POST" class="detalle-producto" enctype="multipart/form-data">
            <div class="producto-principal">
                <!-- <div class="imagen-producto-color01">
                    <input type="file" name="imagen-producto01" id="imagen-producto01" accept=".png, .jpg, .webp" style="display:none;"/>
                    <label for="imagen-producto01"><i class="fas fa-download"></i> Imagen Color 01</label>
                </div> -->
            </div>
            <div class="colores-producto">
                <div class="imagen-producto-color01">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <input type="file" name="imagen01" id="imagen01" accept=".png, .jpg, .webp" style="display:none;"/>
                    <label for="imagen01"><i class="fas fa-upload"></i> Imagen Color 01</label>
                </div>
                <div class="imagen-producto-color02">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <input type="file" name="imagen02" id="imagen02" accept=".png, .jpg, .webp" style="display:none;"/> -->
                    <label for="imagen02"><i class="fas fa-upload"></i> Imagen Color 02</label>
                </div>
                <div class="imagen-producto-color03">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <input type="file" name="imagen03" id="imagen03" accept=".png, .jpg, .webp" style="display:none;"/>
                    <label for="imagen03"><i class="fas fa-upload"></i> Imagen Color 03</label>
                </div>
            </div>
            <div class="descripcion-producto">
                <div class="nombre-producto">
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre del producto" required>
                </div>
                <div class="precio-producto">
                    <input type="number" name="precio" id="precio" placeholder="Precio del producto $" required>
                </div>
                <div class="descuento-producto">
                    <input type="number" name="descuento" id="descuento" placeholder="Descuento del producto %" required>
                </div>
                <div class="caracteristicas-producto">
                    <div class="cantidad-colores">
                        <label for="colores">Cantidad de Colores: </label>
                        <select name="colores" id="colores">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                        </select>
                    </div>
                    <!-- <div class="cantidad-talles">
                        <label for="cantidadTalles">Cantidad de Talles: </label>
                        <select name="cantidadTalles" id="cantidadTalles">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                           <option value="6">6</option>
                           <option value="7">7</option>
                           <option value="8">8</option>
                           <option value="9">9</option>
                        </select>
                    </div> -->
                    <div class="talles">
                        <label for="talles">Talles: </label>
                        <br>
                        <input type="checkbox" name="talle1" id="talle1" value="36">36
                        <input type="checkbox" name="talle2" id="talle2" value="37">37
                        <input type="checkbox" name="talle3" id="talle3" value="38">38
                        <input type="checkbox" name="talle4" id="talle4" value="39">39
                        <input type="checkbox" name="talle5" id="talle5" value="40">40
                        <input type="checkbox" name="talle6" id="talle6" value="41">41
                        <input type="checkbox" name="talle7" id="talle7" value="42">42
                        <input type="checkbox" name="talle8" id="talle8" value="43">43
                        <input type="checkbox" name="talle9" id="talle9" value="44">44
                    </div>
                    <div class="categoria">
                        <label for="categoria">Categoría: </label>
                        <select name="categoria" id="categoria">
                           <option value="casual">Casual</option>
                           <option value="futbol">Futbol</option>
                           <option value="running">Running</option>
                        </select>
                    </div>
                    <div class="cantidad">
                        <label for="cantidad">Cantidad: </label>
                        <select name="cantidad" id="cantidad">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                           <option value="6">6</option>
                           <option value="7">7</option>
                           <option value="8">8</option>
                           <option value="9">9</option>
                           <option value="10">10</option>
                        </select>
                    </div>
                    
                </div>
                <div class="boton-crear">
                    <button type="submit">Crear Producto</button>
                </div>
                <div class="boton-borrar">
                    <button type="reset">Borrar</button>
                </div>
            </div>
        </form>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>