<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidxs a MiZapatilla!</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles-home.css" rel="stylesheet">
</head>
<body>
    <header class="cabecera">
        <div class="cabecera-principal">
            <div class="logo">
                <img class="imagen-logo" src="images/logo/logo-redondo-negro.png" alt= "Logo de MiZapatilla">
            </div>
            <div class="buscador">
                <form action="#" method="GET">
                   <input type="text" name="search" placeholder="Buscar productos, marcas y más...">
                   <i class="fa fa-search"></i>
                 </form>
           </div>
           <nav class="listas01">
            <ul class="lista01">
                <li><a href ="/cuenta"><i class="fas fa-user-circle"></i></a></li>
                <li><a href ="/carrito"><i class="fas fa-cart-plus"></i></a></li>
            </ul>
           </nav>
        </div>
        <a class="menu-hamburguesa" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="listas02">
            <ul class="lista02">
                <li><a href ="#">Marcas</a></li>
                <li><a href ="#">Hombre</a></li>
                <li><a href ="#">Mujer</a></li>
                <li><a href ="#">Unisex</a></li>
            </ul>
        </nav>
    </header>
    <section class="banner">
        <img src="images/banner.webp" alt="Banner de ofertas">
    </section>
    <main>
        <section class="running">
            <h3>Running</h3>
            <div class="productos">
                <article>
                    <img src = "images/adidas/running/hombre/adidas-running-hombre01-color01.webp" alt="Adidas X9000L1" class="product_img">
                    <div class="producto">
                        <i class="fas fa-truck"></i>
                        <p class = "precio">$11.999</p>
                        <p class = "descuento">40% off</p>
                        <h4 class = "descripcion">Adidas X9000L1</h4>
                    </div>
                </article>
                <article>
                    <img src = "images/adidas/running/hombre/adidas-running-hombre02-color01.webp" alt="Adidas Ultraboost 21" class="product_img">
                    <div class="producto">
                        <i class="fas fa-truck"></i>
                        <p class = "precio">$26.999</p>
                        <p class = "descuento">20% off</p>
                        <h4 class = "descripcion">Adidas Ultraboost 21</h4>
                    </div>
                </article>
                <article>
                    <img src = "images/adidas/running/mujer/adidas-running-mujer01-color01.webp" alt="Adidas Supernova Tokio" class="product_img">
                    <div class="producto">
                        <i class="fas fa-truck"></i>
                        <p class = "precio">$15.999</p>
                        <p class = "descuento">10% off</p>
                        <h4 class = "descripcion">Adidas Supernova Tokio</h4>
                    </div>
                </article>
                <article>
                    <img src = "images/adidas/running/mujer/adidas-running-mujer02-color01.webp" alt="Adidas X9000L3 COLD.RDY" class="product_img">
                    <div class="producto">
                        <i class="fas fa-truck"></i>
                        <p class = "precio">$19.999</p>
                        <p class = "descuento">5% off</p>
                        <h4 class = "descripcion">Adidas X9000L3 COLD.RDY</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div class="beneficios">
            <div class="pago">
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con MiZapatilla Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="envio">
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 20.000</h4>
                <p>Solo por estar registrad@ en MiZapatilla tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="seguridad">
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En MiZapatilla, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>
        <p>Copyright © 1999-2021 MiZapatilla S.R.L.</p>
    </footer>
</body>
</html>