<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Producto</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles-home.css" rel="stylesheet">
    <link href="/css/styles-productDetail.css" rel="stylesheet">
</head>
<body>
    <header class="cabecera">
        <div class="cabecera-principal">
            <div class="logo">
                <img class="imagen-logo" src="images/logo/logo-redondo-negro.png" alt= "Logo de MiZapatilla">
            </div>
            <div class="buscador">
                <form action="#" method="GET">
                   <input type="text" name="search" placeholder="Buscar productos, marcas y más...">
                   <i class="fa fa-search"></i>
                 </form>
           </div>
           <nav class="listas01">
            <ul class="lista01">
                <li><a href ="/cuenta"><i class="fas fa-user-circle"></i></a></li>
                <li><a href ="/carrito"><i class="fas fa-cart-plus"></i></a></li>
            </ul>
           </nav>
        </div>
        <a class="menu-hamburguesa" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="listas02">
            <ul class="lista02">
                <li><a href ="#">Marcas</a></li>
                <li><a href ="#">Hombre</a></li>
                <li><a href ="#">Mujer</a></li>
                <li><a href ="#">Unisex</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h3>Detalle de Producto</h3>
        <div class="detalle-producto">
            <div class="producto-principal">
                <img src = "images/adidas/running/hombre/adidas-running-hombre01-color01.webp" alt="Adidas X9000L1" class="product_img">
            </div>
            <div class="colores-producto">
                <div class="color01">
                    <img src = "images/adidas/running/hombre/adidas-running-hombre01-color01.webp" alt="Adidas X9000L1" class="product_img">
                </div>
                <div class="color02">
                    <img src = "images/adidas/running/hombre/adidas-running-hombre01-color02.webp" alt="Adidas X9000L1" class="product_img">
                </div>
                <div class="color03">
                    <img src = "images/adidas/running/hombre/adidas-running-hombre01-color03.webp" alt="Adidas X9000L1" class="product_img">
                </div>
            </div>
            <div class="descripcion-producto">
                <div class="nombre-producto">
                    <h4>Adidas X9000L1</h4>
                </div>
                <div class="precio-producto">
                    <p>$11.999</p>
                </div>
                <div class="caracteristicas-producto">
                    <form action="/" method="POST">
                        <div class="color">
                        <label for="color">Color: </label>
                        <select name="color" id="color">
                            <option value="01">Negro y Blanco</option>
                            <option value="02">Negro y Verde</option>
                            <option value="03">Gris</option>
                        </select>
                        </div>
                        <div class="talle">
                            <label for="talle">Talle: </label>
                            <select name="talle" id="talle">
                               <option value="talle-1">38</option>
                               <option value="talle-2">39</option>
                               <option value="talle-3">40</option>
                            </select>
                        </div>
                        <div class="cantidad">
                            <label for="cantidad">Cantidad: </label>
                            <select name="cantidad" id="cantidad">
                               <option value="01">1</option>
                               <option value="02">2</option>
                               <option value="03">3</option>
                               <option value="04">4</option>
                               <option value="05">5</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="boton">
                    <button type="submit">Agregar al Carrito <i class="fas fa-cart-plus"></i></button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="beneficios">
            <div class="pago">
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con MiZapatilla Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="envio">
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 20.000</h4>
                <p>Solo por estar registrad@ en MiZapatilla tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="seguridad">
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En MiZapatilla, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>
        <p>Copyright © 1999-2021 MiZapatilla S.R.L.</p>
    </footer>
</body>
</html>