<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles-home.css" rel="stylesheet">
    <link href="/css/styles-register-login.css" rel="stylesheet">
</head>
<body>
    <header class="cabecera">
        <div class="cabecera-principal">
            <img class="logo" src="images/nike-logo2.jpg" alt= "Logo de MiZapatilla">
            <div class="buscador">
                <form action="#" method="GET">
                   <input type="text" name="search" placeholder="Buscar productos, marcas y más...">
                   <i class="fa fa-search"></i>
                 </form>
           </div>
           <nav class="listas01">
            <ul class="lista01">
                <li><a href ="/cuenta"><i class="fas fa-user-circle"></i></a></li>
                <li><a href ="/carrito"><i class="fas fa-cart-plus"></i></a></li>
            </ul>
           </nav>
        </div>
        <a class="menu-hamburguesa" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="listas02">
            <ul class="lista02">
                <li><a href ="#">Marcas</a></li>
                <li><a href ="#">Hombre</a></li>
                <li><a href ="#">Mujer</a></li>
                <li><a href ="#">Unisex</a></li>
            </ul>
            
        </nav>
    </header>
    <main>
        <div class="cuenta">
            <div class="login">
                <h3>Ingresá a tu cuenta</h3>
                <form action="/login" method="POST" class="ingresar">
                    <div>
                        <input type="text" name="usuario" placeholder="Nombre de usuario" required>
                    </div>
                    <div>
                        <input type="password" name="contraseña" placeholder="Contraseña" required>
                    </div>
                    <div>
                        <button type="submit">Ingresar</button>
                    </div>
                </form>
            </div>
            <div class="registro">
                <h3>Creá tu Cuenta</h3>
                <form action="/registro" method="POST" class="registrarse">
                    <div class="nombre">
                        <input type="text" name="nombre" placeholder="Nombre y apellido" required>
                        <span class="feedback"></span>
                    </div>
                    <div class="usuario">
                        <input type="text" name="usuario" placeholder="Nombre de usuario" required>
                        <span class="feedback"></span>
                    </div>
                    <div class="mail">
                        <input type="email" name="email" placeholder="E-mail" required>
                        <span class="feedback"></span>
                    </div>
                    <div class="domicilio">
                        <input type="text" name="domicilio" placeholder="Domicilio" required>
                        <span class="feedback"></span>
                    </div>
                    <div class="contraseña01">
                        <input type="password" name="contraseña" placeholder="Contraseña" required>
                        <span class="feedback"></span>
                    </div>
                    <div class="contraseña02">
                        <input type="password" name="confirma-contraseña" placeholder="Confirmar contraseña" required>
                        <span class="feedback"></span>
                    </div>
                    <div>
                        <button class="borrar" type="reset">Borrar</button>
                        <button class="enviar" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="beneficios">
            <div class="pago">
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con MiZapatilla Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="envio">
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 20.000</h4>
                <p>Solo por estar registrad@ en MiZapatilla tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="seguridad">
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En MiZapatilla, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>