* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

p {
    font-size: 12px;
}

h3 {
    font-size: 24px;
    margin: 20px 0px 50px 0px;
}

.cabecera {
    background-color:  black;
    padding-bottom: 20px;
}

.cabecera-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3% 3% 0 3%;
    
}

.logo, .buscador {
    width: 45%;
}

.imagen-logo {
    width: 72%;
    display:block;
    margin:auto;
}

.buscador {
    display: flex;
    align-items: center;
}

.buscador input {
    border-top: 1px solid rgb(207, 206, 206);
    border-left: 1px solid rgb(207, 206, 206);
    border-bottom: 1px solid rgb(207, 206, 206);
    border-right: none;
    border-radius: 8px 0 0 8px;
    padding: 10px;
    width: 100%;
    outline: none;
}

.buscador i {
    border-top: 1px solid rgb(207, 206, 206);
    border-right: 1px solid rgb(207, 206, 206);
    border-bottom: 1px solid rgb(207, 206, 206);
    border-left: none;
    border-radius: 0 8px 8px 0;
    padding: 10px;
    background-color: white;
    color: rgb(177, 174, 174);
}

.buscador form{
    display: flex;
    justify-content: center;
    width: 100%;
}

.listas01 {
    width: 100%;
    margin: 20px 0;
}

.lista01 {
    display: flex;
    justify-content: space-around;
}

.lista01 i {
    font-size: 35px;
}

.listas01 ul, .listas02 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.listas01 a, .listas02 a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 5px 0;
}


.menu-hamburguesa {
    background-color: white;
    color: black;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    margin: auto;
}

.listas02 {
    display: none;
    
}

.banner img{
    width: 100%;
}

main {
    margin: 0 auto;
    width: 90vw;
    padding-bottom: 40px;
}

main section {
    padding-top: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section article {
    background-color: white;
    margin: 10px;
    transition: box-shadow 0.5s;
}

section article:hover {
    box-shadow : 0px 0px 20px rgb(0 , 0 , 0 );
}

.product_img {
    width: 100%;
}

.producto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #eceff1;
    border-top: solid 1px white;
    padding: 15px;
    position: relative;
}

main section article i {
    color: #39b54a;
    display: block;
    font-size: 16px ;
    padding: 5px ;
    width: 30px ;
    height: 30px ;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: transform 0.5s;
}

main section article i:hover {
    transform: rotateZ(-90deg);
}

.precio {
    width: 30%;
    text-align: center;
    font-size: 18px;
}

.descuento {
    width: 70%;
    text-align: center;
    font-size: 16px;
    color: #39b54a;
}

.descripcion {
    color: #666;
    display: none;
    font-size: 16px;
    margin-top: 20px;
    font-weight: normal;
}



footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

footer div div, footer>p {
    padding-top: 45px;
}

footer i {
    color: white;
    font-size: 2em;
    margin-bottom: 10px;
    transition: color 0.5s;
}

footer i:hover{
    color: #666;
}

@media (min-width: 769px){
    .cabecera-principal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    .logo, .buscador, .listas01 {
        width: 33%;
    }
    .menu-hamburguesa {
        display: none;
    }
    .listas01 {
        padding-right: 50px;
    }
    .lista01 li {
        padding: 0 5px 0 15px;
    }
    .lista01 {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .listas02 {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    .lista02 {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        width: 100%;
    }
    .listas li {
        margin: 0 8px;
    }
    section article {
        width: 43%;
        box-shadow : 0px 0px 10px rgb(100 , 100 , 100 );
    }
    .descripcion {
        display: block;
        visibility: hidden;
    }
    section article:hover .descripcion{
        visibility: visible;
    }
}

@media (min-width: 1200px){
    .cabecera-principal, .listas {
        margin: auto;
    }
    .listas {
        margin-top: 10px;
    }
    section article {
        width: 22%;
    }
    .beneficios {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .beneficios div {
        width: 30%;
        padding-bottom: 45px;
    }
    footer>p {
        text-align: start;
    }
}