* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

label {
    font-size: 100%;
}


.detalle-producto {
    background-color: #eceff1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
    box-shadow : 0px 0px 20px rgb(100 , 100 , 100 );
    transition : box-shadow 0.5s;
}

.detalle-producto:hover {
    box-shadow : 0px 0px 20px rgb(0 , 0 , 0 );
}

.colores-producto {
    display: flex;
}

.descripcion-producto {
    text-align: center;
}

.nombre-producto {
    text-align: center;
    margin-top: 20px;
}

.nombre-producto h4, .precio-producto p {
    font-size: 40px;
}

.precio-producto p {
    color: #39b54a;
    padding-top: 10px;
}


.caracteristicas-producto div {
    padding-top: 10px;
}

select {
    width: 150px;
    border-radius: 6px;
    padding: 5px;
    margin-top: 15px;
    background-color: black;
    color: white;
}

.talle select {
    width: 155px;
}

.cantidad select {
    width: 126px;
}

.caracteristicas-producto, .boton {
    padding: 10px 0;
}

.boton {
    width: 100%;
}

.boton button {
    width: 80%;
    border-radius: 6px;
    padding: 5px;
    margin-top: 15px;
    background-color: black;
    color: white;
    transition: all 0.5s;
}

.boton button:hover {
    background-color: rgb(20, 20, 20);
}

.boton i {
    transition: transform 0.5s;
}

.boton:hover i {
    transform: rotateZ(-360deg);
}


@media (min-width: 769px){
    .detalle-producto {
        flex-direction: row;
    }
    .colores-producto {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 15%;
    }
    .producto-principal {
        order: 2;
        width: 50%;
    }
    .descripcion-producto {
        order: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 35%;
    }
    .nombre-producto h4, .precio-producto p {
        font-size: 29px;
    }
    .caracteristicas-producto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .caracteristicas-producto form {
        display: flex;
        flex-direction: column;
    } 
    }

@media (min-width: 1200px) {
    .nombre-producto h4, .precio-producto p {
        font-size: 40px;
    }
}