<header class="cabecera">
    <div class="cabecera-principal">
        <div class="logo">
            <a href="/">
                <img class="imagen-logo" src="/images/banner/logo-redondo-negro02.png" alt= "Logo de MiZapatilla">
            </a>
        </div>
        <div class="buscador">
            <form action="/productos-encontrados" method="GET">
               <input type="text" name="search" placeholder="Buscar productos, marcas y más...">
               
               <button type="submit"><i class="fa fa-search"></i></button>
             </form>
       </div>
       <nav class="listas01">
        <ul class="lista01">
            <% if (locals.isLogged) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/cuenta/perfil" id="dropUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Bienvenido, <%= locals.userLogged.first_name%>!
                        <img src="/images/users/<%= locals.userLogged.avatar %>" width="40" style="border-radius: 100%;">
                    </a>
                    <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/cuenta/perfil">Mi perfil</a>
                        <li><hr class="dropdown-divider"></li>
                        <a class="dropdown-item" href="/cuenta/logout">Cerrar sesión</a>
                    </ul> -->
                </li>
            <% } else { %>
                <li><a href ="/cuenta"><i class="fas fa-user-circle"></i></a></li>
            <% } %>
            <li><a href ="/carrito"><i class="fas fa-cart-plus"></i></a></li>
        </ul>
       </nav>
    </div>
    <a class="menu-hamburguesa" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav class="listas02">
        <ul class="lista02">
            <li><a href ="/productos">Todos los Productos</a></li>
            <li><a href ="/productos/casual">Casual</a></li>
            <li><a href ="/productos/futbol">Futbol</a></li>
            <li><a href ="/productos/running">Running</a></li>
        </ul>
    </nav>
</header>