<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link href="/css/main/styles-home.css" rel="stylesheet">
    <title>Bienvenidxs a MiZapatilla!</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <section class="banner">
        <img src="images/banner/banner02.png" alt="Banner de ofertas">
    </section>
    <main>
        <section class="casual">
            <h3>Casual</h3>
            <div class="productos">
                <article>
                    <img src = "images/adidas/casual/01/color01.webp" alt="Adidas Forum Mid" class="product_img">
                    <div class="producto">
                        <i class="fas fa-truck"></i>
                        <p class = "precio">$18.499</p>
                        <p class = "descuento">40% off</p>
                        <h4 class = "descripcion">Adidas Forum Mid</h4>
                    </div>
                </article>
                <article>
                    <img src = "images/adidas/casual/02/color01.webp" alt="Adidas Grand Court" class="product_img">
                    <div class="producto">
                        <i class="fas fa-truck"></i>
                        <p class = "precio">$13.499</p>
                        <p class = "descuento">20% off</p>
                        <h4 class = "descripcion">Adidas Grand Court</h4>
                    </div>
                </article>
                <article>
                    <img src = "images/adidas/casual/03/color01.webp" alt="Adidas Hoops 2.0" class="product_img">
                    <div class="producto">
                        <i class="fas fa-truck"></i>
                        <p class = "precio">$11.499</p>
                        <p class = "descuento">10% off</p>
                        <h4 class = "descripcion">Adidas Hoops 2.0</h4>
                    </div>
                </article>
                <article>
                    <img src = "images/adidas/casual/04/color01.webp" alt="Adidas Courtpoint Los Simpsons" class="product_img">
                    <div class="producto">
                        <i class="fas fa-truck"></i>
                        <p class = "precio">$9.999</p>
                        <p class = "descuento">5% off</p>
                        <h4 class = "descripcion">Adidas Courtpoint Los Simpsons</h4>
                    </div>
                </article>
            </div>
        </section>
        <section class="futbol">
            <h3>Futbol</h3>
            <div class="productos">
                <article>
                    <img src = "images/adidas/futbol/01/color01.webp" alt="Adidas Predator Mutator 20.1" class="product_img">
                    <div class="producto">
                        <i class="fas fa-truck"></i>
                        <p class = "precio">$34.499</p>
                        <p class = "descuento">40% off</p>
                        <h4 class = "descripcion">Adidas Predator Mutator 20.1</h4>
                    </div>
                </article>
                <article>
                    <img src = "images/adidas/futbol/02/color01.webp" alt="Adidas Copa Sense+" class="product_img">
                    <div class="producto">
                        <i class="fas fa-truck"></i>
                        <p class = "precio">$45.999</p>
                        <p class = "descuento">20% off</p>
                        <h4 class = "descripcion">Adidas Copa Sense+</h4>
                    </div>
                </article>
                <article>
                    <img src = "images/adidas/futbol/03/color01.webp" alt="Adidas Predator 20.3" class="product_img">
                    <div class="producto">
                        <i class="fas fa-truck"></i>
                        <p class = "precio">$13.999</p>
                        <p class = "descuento">10% off</p>
                        <h4 class = "descripcion">Adidas Predator 20.3</h4>
                    </div>
                </article>
                <article>
                    <img src = "images/adidas/futbol/04/color01.webp" alt="Adidas X Speedflow.3" class="product_img">
                    <div class="producto">
                        <i class="fas fa-truck"></i>
                        <p class = "precio">$13.499</p>
                        <p class = "descuento">5% off</p>
                        <h4 class = "descripcion">Adidas X Speedflow.3</h4>
                    </div>
                </article>
            </div>
        </section>
        <section class="running">
            <h3>Running</h3>
            <div class="productos">
                <article>
                    <img src = "images/adidas/running/01/color01.webp" alt="Adidas X9000L1" class="product_img">
                    <div class="producto">
                        <i class="fas fa-truck"></i>
                        <p class = "precio">$11.999</p>
                        <p class = "descuento">40% off</p>
                        <h4 class = "descripcion">Adidas X9000L1</h4>
                    </div>
                </article>
                <article>
                    <img src = "images/adidas/running/02/color01.webp" alt="Adidas Ultraboost 21" class="product_img">
                    <div class="producto">
                        <i class="fas fa-truck"></i>
                        <p class = "precio">$26.999</p>
                        <p class = "descuento">20% off</p>
                        <h4 class = "descripcion">Adidas Ultraboost 21</h4>
                    </div>
                </article>
                <article>
                    <img src = "images/adidas/running/03/color01.webp" alt="Adidas Supernova Tokio" class="product_img">
                    <div class="producto">
                        <i class="fas fa-truck"></i>
                        <p class = "precio">$15.999</p>
                        <p class = "descuento">10% off</p>
                        <h4 class = "descripcion">Adidas Supernova Tokio</h4>
                    </div>
                </article>
                <article>
                    <img src = "images/adidas/running/04/color01.webp" alt="Adidas X9000L3 COLD.RDY" class="product_img">
                    <div class="producto">
                        <i class="fas fa-truck"></i>
                        <p class = "precio">$19.999</p>
                        <p class = "descuento">5% off</p>
                        <h4 class = "descripcion">Adidas X9000L3 COLD.RDY</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>