<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Carrito</title>
    <link href="/css/main/styles-productCart.css" rel="stylesheet">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h3>Mi Carrito</h3>
        <div class="carrito">
            <div class="productos-carrito">
                <article>
                    <div class="imagen-producto">
                        <img src = "images/adidas/running/01/color01.webp" alt="Adidas X9000L1" class="product_img">
                    </div>
                    <div class="descripcion-producto">
                        <div class="nombre-producto">
                            <h4>Adidas X9000L1</h4>
                        </div>
                        <div class="precio-producto">
                            <p>$11.999</p>
                        </div>
                        <div class="caracteristicas-producto">
                            <form action="/" method="POST">
                                <div class="color">
                                <label for="color">Color: </label>
                                <select name="color" id="color">
                                    <option value="01">Negro y Blanco</option>
                                    <option value="02">Negro y Verde</option>
                                    <option value="03">Gris</option>
                                </select>
                                </div>
                                <div class="talle">
                                    <label for="talle">Talle: </label>
                                    <select name="talle" id="talle">
                                       <option value="talle-1">38</option>
                                       <option value="talle-2">39</option>
                                       <option value="talle-3">40</option>
                                    </select>
                                </div>
                                <div class="cantidad">
                                    <label for="cantidad">Cantidad: </label>
                                    <select name="cantidad" id="cantidad">
                                       <option value="01">1</option>
                                       <option value="02">2</option>
                                       <option value="03">3</option>
                                       <option value="04">4</option>
                                       <option value="05">5</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="boton">
                            <button type="submit">Sacar del Carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="imagen-producto">
                        <img src = "images/adidas/running/02/color01.webp" alt="Adidas Ultraboost 21" class="product_img">
                    </div>
                    <div class="descripcion-producto">
                        <div class="nombre-producto">
                            <h4>Adidas Ultraboost 21</h4>
                        </div>
                        <div class="precio-producto">
                            <p>$26.999</p>
                        </div>
                        <div class="caracteristicas-producto">
                            <form action="/" method="POST">
                                <div class="color">
                                <label for="color">Color: </label>
                                <select name="color" id="color">
                                    <option value="01">Naranja y Negro</option>
                                    <option value="02">Blanco y Negro</option>
                                    <option value="03">Negro</option>
                                </select>
                                </div>
                                <div class="talle">
                                    <label for="talle">Talle: </label>
                                    <select name="talle" id="talle">
                                       <option value="talle-1">38</option>
                                       <option value="talle-2">39</option>
                                       <option value="talle-3">40</option>
                                    </select>
                                </div>
                                <div class="cantidad">
                                    <label for="cantidad">Cantidad: </label>
                                    <select name="cantidad" id="cantidad">
                                       <option value="01">1</option>
                                       <option value="02">2</option>
                                       <option value="03">3</option>
                                       <option value="04">4</option>
                                       <option value="05">5</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="boton">
                            <button type="submit">Sacar del Carrito</button>
                        </div>
                    </div>
                </article>
            </div>
            <div class="resumen">
                <div>
                    <h3>Resumen</h4>
                </div>
                <div class="total">
                    <h4>Total: $38.999</h4>
                </div>
                <div class="boton">
                    <button type="submit">Proceder al Pago</i></button>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>