label {
    font-size: 100%;
}

.detalle-producto {
    background-color: #eceff1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    box-shadow : 0px 0px 20px rgb(100 , 100 , 100 );
    transition : box-shadow 0.5s;
}

.detalle-producto:hover {
    box-shadow : 0px 0px 20px rgb(0 , 0 , 0 );
}

.detalle-producto input {
    border-radius: 6px;
    padding: 5px;
}

.producto-principal, .imagen-producto-color01, .imagen-producto-color02, .imagen-producto-color03 {
    background-color: white;
}

.producto-principal {
    height: 508px;
    text-align: center;
    border: 1px solid #c0bfbf;
    display: flex;
}

.producto-principal .imagen-producto-color01 {
    width: 100%;
    padding-top: 188px;
}

.producto-principal label {
    border: 1px solid #666;
    border-radius: 6px;
    padding: 3px;
}

.producto-principal label:hover {
    background-color: #c4bfbf;
}

.colores-producto {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    text-align: center;
}

.colores-producto label {
    border: 1px solid #666;
    border-radius: 4px;
    padding: 3px;
    background-color: black;
    color: white;
    transition: all 0.5s;
}

.colores-producto label:hover {
    background-color: rgb(20, 20, 20);
}

.colores-producto .imagen-producto-color01, .colores-producto .imagen-producto-color02, .colores-producto .imagen-producto-color03 {
    position: relative;
    width: 33%;
    height: 130px;
    border: 1px solid #c0bfbf;
    margin-left: 5px
}

.descripcion-producto {
    text-align: center;

}

.nombre-producto, .precio-producto, .descuento-producto {
    padding-top: 20px;
}

.nombre-producto {
    margin-top: 20px;
}

.caracteristicas-producto div {
    padding-top: 10px;
}

.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.text-danger {
    color: #dc3545;
    padding-right: calc(1.5em + .75rem);
}

select {
    border-radius: 6px;
    padding: 5px;
    margin-top: 15px;
    background-color: black;
    color: white;
}

.categoria select {
    width: 115px;
}

.cantidad-colores select {
    width: 148px;
}

.cantidad select {
    width: 118px;
}

.nombre-producto input,.precio-producto input, .descuento-producto input{
    border-radius: 3px;
}

.talle {
    margin-top: 10px;
}

.talle select {
    width: 149px;
}

.caracteristicas-producto, .boton {
    padding: 10px 0;
}

.boton-crear, .boton-borrar {
    width: 100%;
}

.boton-crear button {
    width: 80%;
    border-radius: 6px;
    padding: 5px;
    margin-top: 15px;
    background-color: black;
    color: white;
    transition: all 0.5s;
}

.boton-crear button:hover {
    background-color: rgb(20, 20, 20);
}

.boton-borrar button {
    width: 80%;
    border-radius: 6px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: rgb(100 , 100 , 100 );
    color: white;
    transition: all 0.5s;
}

.boton-borrar button:hover {
    background-color: rgb(20, 20, 20);
}



@media (min-width: 769px){
    .detalle-producto {
        flex-direction: row;
    }
    .producto-principal {
        /* height: 343px; */
        margin: 10px 0 10px 10px;
    }
    .colores-producto {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 15%;
    }
    .colores-producto .imagen-producto-color01, .colores-producto .imagen-producto-color02, .colores-producto .imagen-producto-color03 {
        width: 100%;
        font-size: 9px;
    }
    .producto-principal {
        order: 2;
        width: 50%;
    }
    .descripcion-producto {
        order: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .nombre-producto h4, .precio-producto p {
        font-size: 29px;
    }
    .caracteristicas-producto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .caracteristicas-producto form {
        display: flex;
        flex-direction: column;
    } 
    }

@media (min-width: 1200px) {
    .nombre-producto h4, .precio-producto p {
        font-size: 40px;
    }
}








/* .producto-nuevo {
    text-align: center;
    margin: 30px 0px 100px 0px;
}

label, input {
    font-size: 100%;
}

.producto-nuevo div {
    margin: 30px 0;
}

.producto-nuevo input {
    width: 80%;
    border-radius: 6px;
    padding: 5px;
}

.imagen-producto input {
    text-align: center;
}

.radio input {
    width: 25px;
}

.producto-nuevo div input{
    margin: 5px 0px;
}

.producto-nuevo button {
    width: 80%;
    border-radius: 6px;
    padding: 5px;
    margin-top: 15px;
    background-color: black;
    color: white;
    transition: all 0.5s;
}

.producto-nuevo button:hover {
    background-color: rgb(20, 20, 20);
}

@media (min-width: 769px){
    .producto-nuevo input, .producto-nuevo button {
        width: 60%;
    }
    .radio input {
        width: 25px;
    }
} */