<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Mi Cuenta</title>
    <link href="/css/users/styles-user.css" rel="stylesheet">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h3>Mi Cuenta</h3>
        <div class="avatar">
            <img src="/images/usuarios/default.png" alt="Avatar">
        </div>
        <div class="cuenta">
            <div class="nombre">
                <p class="titulo">Nombre: </p>
                <p>Ariel</p>
            </div>
            <div class="apellido">
                <p class="titulo">Apellido: </p>
                <p>Calbosa</p>
            </div>
            <div class="usuario">
                <p class="titulo">Usuario: </p>
                <p>acalbosa</p>
            </div>
            <div class="email">
                <p class="titulo">E-maill: </p>
                <p>ariel.l.calbosa@gmail.com</p>
            </div>
            <div class="domicilio">
                <p class="titulo">Domicilio: </p>
                <p>Brasil 2305</p>
            </div>
            <div class="categoria">
                <p class="titulo">Categoría: </p>
                <p>Administrador</p>
            </div>
            <form action="/cuenta/perfil/editar-perfil" method="GET">
                <div class="boton-editar">
                    <button type="submit">Editar Perfil</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>